.root {
  &__title {
    span {
      color: var(--link-color);
    }
  }
  &__top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 40px;
    @media (max-width: 460px) {
      gap: 10px;
      flex-direction: column;
      align-items: center;
    }
  }
}