.root {
  grid-area: header;
  padding-top: 37px;
  padding-bottom: 37px;
  &__container {
    display: flex;
    align-items: center;
    gap: 60px;
    @media (max-width: 840px) {
      flex-wrap: wrap;
      row-gap: 15px;
    }
    @media (max-width: 580px) {
      column-gap: var(--offset);
    }
    @media (max-width: 460px) {
      flex-direction: column;
    }
  }
}
